.Person{
    margin: 20px;
    text-align: left;
    width: 300px;
    padding: 40px;
    background-color: rgb(204, 255, 202);
    border: black;
    border-style: solid;
    color: black;
    border-width: 3px;
}

.Person h1{
    font-size: 20px;
}

.Input{
    
}

.Input p{
    display: inline-block;
    margin: 10px;
    color: rgb(132, 132, 245);
}