.Person{
    margin: 20px;
    text-align: left;
    width: 250px;
    padding: 40px;
    background-color: rgb(204, 255, 202);
    border: black;
    border-style: solid;
    color: black;
    border-width: 3px;
}

.Input{
    margin: 10px;
}